@import "normalize.scss";

// color
$primary-cyan-70: #448899;
$primary-cyan-50: #66aabb;
$primary-cyan-20: #aaddee;

$secondary-gray-70: #666666;
$secondary-gray-50: #757575;
$secondary-gray-20: #e8e8e8;
$secondary-gray-10: #f8f8f8;

$black: #000000;
$white: #ffffff;
$bluegray: #aabbcc;
$gradient-darkcyan: linear-gradient($primary-cyan-20, $primary-cyan-50);
$gradient-lightcyan: linear-gradient(#337788, $primary-cyan-50);

// font
.noto-sans-bold {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
}

.noto-sans-regular {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

.noto-sans-medium {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
}


.headline {
  font-size: 30px;
  line-height: 34px;
  color: $primary-cyan-70;
}

.dialog-title {
  font-size: 24px;
  line-height: 24px;
}

.header3 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  height: 33px;
}
.description {
  line-height: 23.17px;
  margin-bottom: 30px;
}

.address {
  margin-bottom: 20px;
  line-height: 23.17px;
}

.transport {
  line-height: 23.17px ;
  margin-bottom: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: $secondary-gray-70;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// screen size
@mixin mobile {
  @media (min-width: 360px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

// style
.container {
  margin-right: auto;
  margin-left: auto;

  @include mobile {
    width: 95%;
  }

  @include desktop {
    max-width: 1200px;
  }
}

.navbar {
  background-color: $white;
  height: 34px;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  z-index: 1;

  .navbar-list {
    display: flex;
    list-style: none;
  }
  .navlist-item {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: $secondary-gray-70;
    &:hover,
    &.active {
      color: orange;
    }
  }
}

// index
.herosection {
  position: relative;
  height: 320px;
  overflow: hidden;
  width: 100dvw;
}

.headimage {
  img {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    min-width: 1600px;
  }
}

.slogan {
  z-index: 1;
  height: 320px;
  color: $secondary-gray-10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px;

  h1 {
    height: 41px;
    text-shadow: 0 0 30px #aabbcc;
    margin-bottom: 20px;
    font-size: 28px;
  }
  p {
    margin: 0px;
    height: 22px;
    margin-bottom: 20px;
  }
}

.search {
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  height: 46px;
  width: 400px;
  box-shadow: 0 0 20px $bluegray;

  @include mobile {
    width: 285px;
  }

  @include desktop {
    width:400px;
  }

  input {
    color: $secondary-gray-50;
    padding: 5px;
    width: 340px;
    box-sizing: border-box;
    border: none;
  }
  button {
    cursor: pointer;
    padding: 5px;
    width: 60px;
    height: 100%;
    box-sizing: border-box;
    background-color: $primary-cyan-70;
    img {
      pointer-events: none;
    }
  }
}

main {
  padding: 40px 0;
  flex: 1;
}

.mainbar {
  .mainbar-list {
    width: 100%;
    height: 50px;
    display: flex;
    list-style: none;
  }

  a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: $secondary-gray-70;
  }

  .mrt-list {
    display: flex;
    overflow-x: hidden;
    list-style: none;
    margin: 0;
    align-items: center;
  }

  .mrt-item {
    cursor: pointer;
    text-align: center;
    flex: 0 0 auto;
    text-wrap: nowrap;
    padding: 5px 15px 5px 15px;
    gap: 4px;
    cursor: pointer;
  }
}

.left-arrow {
  &:hover {
    content: url("/static/assets/hovered-left.png");
  }
}

.right-arrow {
  &:hover {
    content: url("/static/assets/hovered-right.png");
  }
}

.left-arrow,
.right-arrow {
  background-color: transparent;
  cursor: pointer;
}

.grid-attraction {
  display: grid;
  gap: 20px;

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }

  @include desktop {
    padding: 30px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.attraction-group {
  border-radius: 5px;
  border: 1px solid $secondary-gray-20;
  overflow: hidden;

  .attraction-top {
    position: relative;
    cursor: pointer;

    @include mobile {
      aspect-ratio: 3/2;
    }

    @include desktop {
      width: 270px;
      height: 180px;
    }
  }
  .attraction-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .attraction-name {
    position: absolute;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $white;
  }
  .attraction-info {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: $white;
  }
}

.footerDiv {
  background-color: $secondary-gray-50;
  color: $white;
  justify-content: center;
  align-items: center;
  height: 100px;
}

// attraction
.hr-layout {
  @include mobile {
    border: none;
  }
  @include desktop {
    border: 1px solid #e8e8e8;
    width: 100%;
  }
}

.attr-position {
  @include mobile {
    top: 14px;
  }

  @include desktop {
    top: 34px;
  }
}
.attr-container {
  margin-right: auto;
  margin-left: auto;

  @include mobile {
    width: 100%;
  }

  @include desktop {
    max-width: 1200px;
  }


}

.layout {
  @include desktop {
    display: flex;
  }
}

.picture-container {
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 5px;


  @include mobile {
    height: 350px;
  }

  @include desktop {
    width: 540px;
    height: 400px;
    overflow: hidden;
  }

  .attr-img {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;



    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -1;
    }
    
    .imgCounter {
      position: absolute;
      width: 100%;
      z-index: 1;
      bottom: 12px;
      gap: 10px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    .left-arrow,
    .right-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      display: flex;
      z-index: 1;
    }
    .left-arrow {
      left: 10px;
    }

    .right-arrow {
      right: 10px;
    }

    input[type="radio"] {
      appearance: none;
      border-radius: 50%;
      background-color: #ffffff;
      opacity: 75%;
      width: 12px;
      height: 12px;
    }
    input[type="radio"]:checked {
      background-color: $black;
      border: 1px $white solid;
    }
  }
}

.profile {
  border-radius: 5px;
  background-color: $white;
  @include mobile {
    padding: 10px;
  }

  @include desktop {
    width: 600px;
    padding: 0;
    margin-left: 40px;
  }
  input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    background-color: $white;
    width: 20px;
    height: 20px;

    &:checked {
      background-color: $primary-cyan-70;
      border: 2px solid $white;
    }
  }

}
.custom-input-date {
  position: relative;
  margin-bottom: 15px;
}
.custom-input-date input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #FFFFFF; 
  width: 149px; 
  height: 25px;
  padding:5px 34px 5px 10px; 
  color: black;
}

.custom-input-date input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.custom-input-date .calendar-icon {
  position: absolute;
  left: 241px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url('/static/assets/calendar.png') no-repeat center center;
  background-size: contain;
  cursor: pointer;
}


.category-mrt {
  margin-top: 15px;
  margin-bottom: 20px;
  height: 22px;
}

.booking-form {
  background-color: $secondary-gray-20;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px 20px;

  @include mobile {
    height: 300px;
  }

}

.profile-btn {
  color: $white;
  background-color: $primary-cyan-70;
  width: 154px;
  height: 36px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

// utilities
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}
